<h1>棋譜管理β</h1>
<p><%= @msg %></p>

<pre>
<table>

	<tr><th>Id</th><td><%= @data.id %></td></tr>

	<tr><th>number</th><td><%= @data.day %></td></tr>

	<tr><th>戦型</th><td><%= @data.senkei %></td></tr>

	<tr><th>コメント</th><td><%= @data.comment %></td></tr>

	<tr><th>棋譜</th><td><%= @data.kif %></td></tr>

	</tr>

</table>
</pre>
