<!DOCTYPE html>
<html>
  <head>
    <title>KifDiary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render template:'layouts/diary_header'%>
    <%= yield %>
    <dev></dev>
    <hr size="1" color="#aaa">
    <%= render template:'layouts/diary_footer' %>
  </body>
</html>
